* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* UTILITIES */
    body {
        max-width: 70%;
        margin: 0 auto;
        font-family: 'Fredoka', sans-serif;
    }

    h1 {
        color: #e33471;
        text-align: center;
        padding: 40px 0px;
    }

    p {
        text-align: center;
        padding: 30px 0px;
    }
/* FINE UTILITIES */

/* FORMATTAZIONE RIGHE E COLONNE */
.row {
    width: 100%;
}

.col::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    padding: 20px;
    padding-bottom: 40px;
    width: calc(100% / 3);
}

.card {
    float: left;
    background-color: #0f0e17;
    width: 100%;
    height: 110px;
}

/* FORMATTAZIONE CONTENUTO CARD */

.image img{
    float: left;
    width: 110px;
    height: 110px;
    margin-right: 15px;
}

.description {
    color: white;
    text-align: left center;
    
}

.description h4 {
    font-weight: 700;
    padding: 0.5rem;  
}

.description h5 {
    font-weight: 400; 
}

.description h6 {
    font-size: 15px;
    font-weight: 400;
    color: #59c4eb;
    padding: 0.5rem;  
}



